.header{
    background-color: rgb(255, 177, 8);
    padding: 2%;
    position: sticky;
    width: 100vw;
    height: 125px;
    justify-content: space-around;
}
 .header a {
    color: #3e6a97;
    text-decoration: none;
    font-size: 40px;
    margin-left: 50px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    white-space: nowrap;
}


ul{
    margin-left: 120px
}
.logo{
    width: auto;
    height: 90px;
    margin-left: -20px;
}
img{
    padding-bottom: 20px
}

.headerLink:hover{
    background-color: rgb(209, 143, 2);
    padding-top: 2%;
    padding-bottom: 2%;
}

