.services {
  background-color: rgb(196, 223, 233);
  color: #3e6a97;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row: 1 / span 1;
}
a {
  display: inline-block;
  text-decoration: none;
}

.bounce:hover {
  transform: translateY(-20px);
  transform: translateY(-10px);
}
