.aboutUs-card {
  color: #3e6a97;
  text-align: center;
  padding: 5px;
}
.aboutUs {
  font-family: "Arbutus Slab", serif;
}
.background-aboutUs {
  background-color: rgb(201, 233, 245);
  height: 100%;
}

.aboutUs-information {
  text-align: center;
}
.aboutUs-mission {
  text-align: center;
  color: white;
  background-color: #3e6a97;
  opacity: 0.8;
  padding: 5px;
}
.aboutUs-information-card {
  text-align: center;
  color: rgb(9, 26, 119);
  background-color: #3e6a97;
  opacity: 0.8;
  padding: 5px;
}
